footer
  .container.text-center
    p.pull-left © 2015 me. All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='https://github.com/bahmutov/PE-N-starter') GitHub Project
      li
        a(href='https://github.com/bahmutov/PE-N-starter/issues') Issues
