extends ../layout

block content

  .panel.panel-default
    .panel-heading
      h3.panel-title
        span.text-muted #{userName} / #{repoName} / &nbsp;
        span.text-default #{file}
    .panel-body
      pre !{source}

block mvc
  include ../partials/angular

block app
  != js('viewer-app')
