extends ../layout

block content
  <style>.ace_editor { height: 1000px; }</style>

  .panel.panel-default
    .panel-heading
      h3.panel-title
        span.text-muted #{userName} / #{repoName} / &nbsp;
        span.text-default #{file}
    .panel-body(ng-controller='EditorController')
      script#source(type="text/file-source") !{source}
      div(ui-ace="{useWrapMode : false, showGutter: true, firstLineNumber: 1, onLoad: aceLoaded, onChange: aceChanged}", ng-model="shownSource")

block mvc
  include ../partials/angular

block app
  != js('viewer-app')
